@import "../../styles.scss";

h6 {
  margin-bottom: 0;
}

.post_information {
  display: flex;
  justify-content: space-between;
}

.post {
  box-shadow: #ddd 1px 1px 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
  max-height: 150px;

  a {
    text-decoration: none;
    color: $primary_color;
  }

  h4 {
    max-height: 20px;
    overflow: hidden;
  }

  &:active {
    transform: scale(0.9);
  }
}
